.timeline-feature {
    --circle-width: clamp(15px, 5vw, 24px);
    --feature-spacing: clamp(20px, 5vw, 40px);
    --feature-padding: clamp(12px, 5vw, 40px);
    --feature-font-size: clamp(1rem, 2.5vw, 1.5rem);
    position: absolute;
    left: 0;
    top: 50%;
    list-style: none;
    max-width: 100%;
    background: var(--glass);
    backdrop-filter: blur(50px);
    padding: calc(var(--feature-padding) * 1.5) var(--feature-padding);
    border-radius: clamp(12px, 5vw, 28px);
    border: 1px solid var(--background-color-light);
    transition:
        border 0.5s ease-in-out,
        background 0.5s ease-in-out;
    margin: 0 var(--feature-spacing);
}

.timeline-circle-svg {
    width: var(--circle-width);
    position: absolute;
    left: calc((var(--feature-spacing) + (var(--circle-width) * 0.425)) * -1);
    top: calc(var(--circle-width) + var(--feature-padding) + (var(--feature-font-size) * 1.75));
}

.timeline-circle {
    stroke: var(--primary-color2);
    fill: var(--background-color);
    transition:
        fill 0.5s ease-in-out,
        stroke 0.5s ease-in-out;
}

.timeline-feature-content {
    font-size: var(--feature-font-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.timeline-date {
    font-size: 1.125em;
    font-weight: 800;
    line-height: 1;
    color: var(--text-opaque);
    transition: color 0.5s ease-in-out;
    text-wrap: nowrap;
}

.timeline-title {
    font-size: 1.75em;
    line-height: 1.2;
    padding-top: 0.2em;
    padding-bottom: 0.6em;
    color: var(--primary-color1);
    transition: color 0.5s ease-in-out;
}

.timeline-text {
    font-size: 0.875em;
    text-wrap: auto;
}
