.bio-page-wrapper {
    position: relative;
    height: 100dvh;
}

.bio-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.bio-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100dvh;
    max-height: 760px;
    padding: 60px 0 20px 0;
    gap: 20px;
}

.bio-header {
    line-height: 1.2;
    width: 100%;
    padding: 0 20px;
    font-size: clamp(2rem, 10vw, 4rem);
}

.bio-header-underline {
    margin-top: 20px;
    height: 0.5px;
    background: linear-gradient(90deg, var(--primary-color1), var(--primary-color2));
}

.bio-textWrapper {
    position: relative;
    max-width: 420px;
}

.bio-text__original {
    opacity: 0;
    padding-bottom: 0.75em;
    text-wrap: auto;
    width: 100%;
    padding: 0 20px;
}

.bio-text__scramble {
    padding: 0 20px;
    word-wrap: break-word;
    position: absolute;
    text-wrap: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--primary-color1-opaque);
    font-weight: 700;
    transition: color 0.5s ease-in-out;
}

.bio-text__revealed {
    font-weight: 500;
    color: var(--text-color);
    transition: color 0.5s ease-in-out;
}

.bio-link {
    color: var(--primary-color1);
    text-decoration: none;
    font-size: 1.5em;
    position: relative;
    margin: auto;
    transition:
        color 0.5s ease-in-out,
        font-size 0.25s ease-in-out;
}

.bio-link::after {
    content: '';
    position: absolute;
    bottom: 0.025em;
    left: 50%;
    width: 0%;
    height: 1px;
    background: var(--primary-color1);
    transition:
        background 0.5s ease-in-out,
        width 0.25s ease-in-out,
        left 0.25s ease-in-out;
}

.bio-link:active {
    font-size: 1.45em;
    transition: font-size 0.25s ease-in-out;
}

.bio-link:hover::after {
    left: 1%;
    width: 98%;
    transition:
        width 0.25s ease-in-out,
        left 0.25s ease-in-out;
}

.bio-stats {
    width: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
    flex-wrap: wrap;
}

@media (width > 378px) {
    .bio-text__original,
    .bio-text__scramble {
        padding: 0 40px;
    }
}

@media (width > 560px) {
    .bio-textWrapper {
        max-width: 540px;
    }
}

@media (width > 768px) {
    .bio-page {
        gap: 28px;
    }
    .bio-stats {
        gap: 40px;
    }
}
@media (width > 1024px) {
    .bio-content {
        gap: 40px;
    }
    .bio-header {
        width: auto;
    }
    .bio-header-br {
        display: none !important;
    }
    .bio-textWrapper {
        max-width: 600px;
        text-align: center;
    }
    .bio-stats {
        margin-top: 40px;
    }
}
