.loader {
    position: relative;
    width: 260px;
    height: 28px;
    border-radius: 14px;
    overflow: hidden;
    background: var(--background-color);
}

.loader-percent {
    position: absolute;
    left: 20px;
    top: 0;
    color: var(--text-color);
    transition: color 0.5s ease-in-out;
}
