.expertise-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 120px 20px;
}

.expertise-contentWrapper {
    width: max-content;
    max-width: 100%;
}

.expertise-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    padding: 40px 0;
}

@media (width > 1200px) {
    .expertise-content {
        flex-direction: row;
        gap: 20px;
    }
}

@media (width > 1366px) {
    .expertise-page {
        gap: 80px;
    }
    .expertise-content {
        padding: 60px 0;
        gap: 40px;
    }
}
