# Ignore artifacts of build tools
/node_modules/
/dist/
/build/

# Ignore configuration files
*.config.js
*.config.ts
*.json
*.yml
*.yaml
*.toml

# Ignore test files or other specific directories you might have
/tests/
/__tests__/
/test/

# Ignore lock files (if needed)
pnpm-lock.yaml
yarn.lock
package-lock.json

# Ignore other non-source files
*.min.js
*.map

# Ignore .vscode settings folder if not needed
.vscode/