.progressBar {
    width: 100vw;
    height: var(--progress-bar-height);
    position: fixed;
    top: 0;
    left: 0;
    background: var(--glass);
    backdrop-filter: blur(25px);
    z-index: 999;
}

.progressBar-progress {
    width: 0;
    height: 100%;
    background: linear-gradient(90deg, var(--primary-color1), var(--primary-color2));
}
