.expertise {
    --expertise-card-radius: 24px;
    position: relative;
    z-index: 10;
    font-size: clamp(1rem, 3.75vw, 1.5rem);
    max-width: clamp(300px, 62.5vw, 420px);
    width: 100%;
    border-radius: 1em;
    padding: 0.1em;
    overflow: hidden;
}

.expertise-card-content {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0.1em 0.1em 0px var(--primary-color1);
    transition:
        background 0.5s ease-in-out,
        box-shadow 0.5s ease-in-out;
    border-radius: 1em;
    padding: clamp(20px, 3.75vw, 40px);
    background: var(--background-color-light);
    height: 100%;
}

.expertise > .animated-border {
    z-index: -1;
}

.expertise-card-content > h3 {
    font-size: 1.675em;
    font-weight: 800;
}

.expertise-card-content > p {
    font-size: 0.875em;
    font-weight: 600;
    text-wrap: auto;
}

.expertise-divider {
    width: 100%;
    height: 1px;
    background: var(--primary-color1);
    margin-top: 1em;
    margin-bottom: 1.25em;
}
