.loadingPage {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    min-height: 100dvh;
    min-width: 100vw;
    z-index: 9999;
    background-color: var(--background-color);
    overflow: hidden;
    transition: background 0.5s ease-in-out;
}
