.boxGrid-container {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1000;
}

#boxGrid-mask {
    transition: fill 0.5s ease-in-out;
}
