.contact-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 80px;
    overflow: hidden;
    padding: 0 20px 100px 20px;
    min-height: 100dvh;
    max-width: 100vw;
}

.contact-header {
    line-height: 1;
}

.contact-header-colored {
    color: var(--primary-color1);
    transition: color 0.5s ease-in-out;
}

.contact-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px 20px;
}

.contact-inputWrapper {
    position: relative;
    width: 100%;
}

.contact-input,
.submit-button {
    font-size: 1.25rem;
    border-radius: 10px;
    height: 48px;
}

.contact-submit-message {
    position: absolute;
    font-size: 0.75rem;
    left: 4px;
    bottom: -1.25rem;
}

.contact-input {
    padding: 4px 12px;
    width: 100%;
    border: 0.5px solid var(--text-opaque);
    background: var(--background-color-light);
    transition:
        border-color 0.5s ease-in-out,
        caret-color 0.5s ease-in-out,
        background ease-in-out;
    caret-color: var(--primary-color1);
}

.contact-input:focus {
    outline: 1.5px solid var(--primary-color1);
    outline-offset: 2px;
}

.contact-input::placeholder {
    font-size: 1.25rem;
    color: var(--text-opaque);
}

.contact-inputWrapper > svg {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -40%) rotate(-10deg);
    transform-origin: 50% 50%;
    width: clamp(500px, 125vw, 768px);
    z-index: -1;
}

@media (width > 560px) {
    .contact-form {
        flex-direction: row;
        width: clamp(520px, 80vw, 620px);
    }
}

@media (width > 768px) {
    .contact-br-mobile {
        display: none;
    }
    .contact-form {
        flex-direction: row;
        margin: 100px 20px;
    }
}

@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
