.statCount {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-size: clamp(1.75rem, 9vw, 3.75rem);
}

.statCount-count {
    font-weight: 900;
    line-height: 1;
    font-size: 1em;
}

.statCount-operator {
    font-size: 1.125em;
    line-height: 0.5;
    font-weight: 600;
}

.statCount-param {
    font-size: 0.25em;
    color: var(--primary-color1);
    text-wrap: nowrap;
    transition: color 0.5s ease-in-out;
}
