.cursor {
    --cursor-size: 50px;
    position: fixed;
    width: var(--cursor-size);
    height: var(--cursor-size);
    z-index: 9999;
    pointer-events: none;
    transform-origin: '50% 50%';
    transform-box: fill-box;
}

.cursor-line,
.cursor-dot {
    stroke: var(--background-color);
    stroke-width: calc(var(--cursor-size) * 0.025);
    fill: var(--primary-color1);
    transition: fill 0.25s ease-in-out;
}

.cursor.active .cursor-line,
.cursor.active .cursor-dot {
    fill: var(--primary-color2);
    transition: fill 0.25s ease-in-out;
}
