.projects-page-wrapper {
    position: relative;
    height: 100dvh;
    z-index: 1;
}

.projects-page {
    --button-width: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 60px;
    padding: 80px 0;
    min-height: 100dvh;
    overflow-x: hidden;
}

.projects-list {
    display: flex;
    height: calc(var(--project-height) * 1.25);
    width: calc(var(--project-width) * 3.8);
    overflow: hidden;
    padding-bottom: 40px;
}

.projects-contentWrapper {
    position: relative;
    width: max-content;
    height: max-content;
}

.projects-contentWrapper > .ellipse-svg {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    opacity: 0.5;
}

.projects-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.project-bg-img {
    position: absolute;
}

.projects-progressBar {
    display: flex;
    list-style: none;
    gap: 6px;
    z-index: 10;
}

.projects-progress {
    width: var(--button-width);
    height: var(--button-width);
    background: var(--primary-color2);
    border-radius: calc(var(--button-width) / 2);
    transition:
        width 0.25s ease-in-out,
        background 0.5s ease-in-out;
}

.projects-progress.active {
    width: calc(var(--button-width) * 4);
    transition:
        width 0.25s ease-in-out,
        background 0.5s ease-in-out;
    background: var(--primary-color1);
}

.projects-content > svg {
    display: none;
}

@media (width > 768px) {
    .projects-content > svg {
        display: block;
        position: absolute;
        bottom: 0;
        width: 200%;
        max-width: 1560px;
        transform: translateY(50%);
        opacity: 0.75;
    }
}
