.wave-background {
    min-height: 100%;
    min-width: 100%;
    position: relative;
}

.wave-background-sticky {
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
    max-width: 100vw;
}

.wave-background-svg {
    min-width: 100vw;
    min-height: 100vh;
}
