.wave-background {
    min-height: 100%;
    min-width: 100%;
    position: relative;
}

.wave-background-sticky {
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
    max-width: 100vw;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 65%, rgba(0, 0, 0, 0) 100%);
}

.wave-background-svg {
    min-width: 100vw;
    min-height: 100vh;
}
