.timeline-page-wrapper {
    height: 100dvh;
    position: relative;
}

.timeline-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    padding: 80px 20px;
    gap: 40px;
}

.timeline-header {
    text-align: center;
}

.timeline-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    max-width: clamp(320px, 70vw, 768px);
    position: relative;
    margin: auto 20px;
}

.timeline-list {
    width: 100%;
    height: 100%;
}

.timeline-line {
    position: absolute;
    left: 0;
    top: -5%;
    height: 110%;
    width: 5px;
    stroke: var(--primary-color2);
    transition: stroke 0.5s ease-in-out;
}
