.hobbyCard {
    --hobbyCard-width: clamp(280px, 70vw, 392px);
    position: relative;
    overflow: hidden;
    border-radius: 32px;
    border: 1px solid var(--primary-color1);
    width: var(--hobbyCard-width);
    height: calc(var(--hobbyCard-width) * 0.585);
    transition:
        border 0.5s ease-in-out,
        color 0.5s ease-in-out;
}

.hobbyCard-cover {
    position: absolute;
    display: flex;
    border: 1px solid var(--primary-color1);
    justify-content: center;
    align-items: center;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    z-index: 2;
    background: var(--glass);
    transition:
        transform 0.5s ease-in-out,
        border 0.5s ease-in-out;
    border-radius: 32px;
    transform: translateY(0) translateZ(0);
    will-change: transform;
}

.hobbyCard-title {
    font-weight: 700;
    color: var(--primary-color1);
    transition: color 0.5s ease-in-out;
}

.hobbyCard:hover .hobbyCard-cover {
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
}

.hobbyCard:hover .hobbyCard-gif {
    filter: none;
    transition: filter 0.5s ease-in-out;
}

.hobbyCard-gif {
    filter: blur(15px);
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    transition: filter 0.5s ease-in-out;
    object-fit: cover;
    aspect-ratio: 1/0.585;
}
