.hobby-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 100px 20px;
}

.hobby-header {
    text-align: center;
}

.hobby-content {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    flex: 0;
    max-width: 1200px;
    margin: auto;
}

@media (width > 560px) {
    .hobby-content {
        padding: 40px 0;
    }
}

@media (width > 1366px) {
    .hobby-content {
        max-width: 1300px;
    }
}
