.cta-button {
    width: max-content;
    max-width: 100%;
    padding: 0.6em 1.2em;
    background: linear-gradient(90deg, var(--primary-color1), var(--primary-color2));
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: clamp(12px, 10vw, 1em);
    border-radius: 1em;
    font-weight: 700;
    transition:
        scale 0.25s ease-in-out,
        box-shadow 0.25s ease-in-out;
    border: none;
    text-wrap: nowrap;
    color: white;
    z-index: 1;
    font-size: 1em;
}

.cta-arrow {
    font-size: 1.125em;
    transform: translateY(0.075em);
}

.cta-button-wrapper {
    position: relative;
    overflow: visible;
    font-size: clamp(1.75rem, 8.5vw, 5rem);
}

.cta-button-wrapper::after,
.cta-button-wrapper::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: conic-gradient(
        from var(--angle),
        var(--primary-color1),
        var(--primary-color2),
        var(--primary-color1)
    );
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: -1;
    border-radius: 1.01em;
    transition: padding 0.25s ease-in-out;
    animation: 2s linear infinite rotategradient;
    animation-play-state: paused;
}

.cta-button-wrapper::before {
    filter: blur(0px);
    transition: filter 0.25s ease-in-out;
    opacity: 0.5;
}

.cta-button:hover {
    box-shadow:
        inset 0 0 0.1em 0.1em var(--primary-color2-opaque),
        inset 0 0 0.1em 0.1em var(--primary-color1-opaque);
}

.cta-button-wrapper:hover::before,
.cta-button-wrapper:hover::after {
    padding: 0.1em;
    animation-play-state: running;
}

.cta-button-wrapper:hover::before {
    transition:
        filter 0.35s ease-in-out,
        padding 0.25s ease-in-out;
    filter: blur(0.25em);
}

@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes rotategradient {
    0% {
        --angle: 0deg;
    }
    100% {
        --angle: 360deg;
    }
}
