.tech-item {
    font-weight: 900;
    padding: 1px;
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    border-radius: 12px;
    margin: 0 0.5em;
    list-style: none;
    transition:
        border 0.25s ease-in-out,
        margin 0.25s ease-in-out;
    position: relative;
    flex-grow: 0.25;
}

.tech-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 0.6em 1.2em;
    background: var(--background-color-opaque);
    backdrop-filter: blur(5px);
    border-radius: 12px;
    width: 100%;
    height: 100%;
    transition: background 0.5s ease-in-out;
    letter-spacing: 0.1em;
}

.tech-icon {
    width: 0;
    transition: width 0.25s ease-in-out;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.tech-item:hover {
    transition:
        border 0.25s ease-in-out,
        margin 0.25s ease-in-out;
    margin: 0;
}

.tech-item::after {
    content: '';
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding: 0.5px;
    border-radius: 12.5px;
    background: var(--primary-color1-opaque);
    animation: 3s rotate linear infinite;
    animation-play-state: paused;
}

.tech-item:hover::after {
    background: conic-gradient(
        from var(--angle),
        var(--primary-color2),
        transparent 35%,
        transparent 65%,
        var(--primary-color2)
    );
    animation-play-state: running;
}

.tech-item:hover .tech-icon {
    width: 1em;
    transition: width 0.25s ease-in-out;
}

@media (width > 378px) {
    .tech-item {
        flex-grow: 0.1;
    }
}

@media (width > 560px) {
    .tech-item {
        flex-grow: 0;
    }
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
