footer {
    --footer-name-size: clamp(1rem, 16.5vw, 18rem);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    justify-self: flex-end;
}

.footer-content {
    max-width: 1200px;
    padding: 20px 12px max(80px, calc(var(--footer-name-size) * 0.8)) 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    color: var(--text-opaque);
    gap: 20px;
}

.footer-linksWrapper {
    display: flex;
    flex-direction: column;
}

.footer-info p {
    font-size: clamp(0.625rem, 1.5vw, 0.875rem);
    transition: color 0.5s ease-in-out;
}

.footer-authorLink {
    text-wrap: nowrap;
    color: var(--primary-color1-opaque);
    transition: color 0.5s ease-in-out;
    text-decoration: none;
    font-size: 1.05em;
    font-weight: 700;
}

.footer-authorLink:hover {
    transition: color 0.25s ease-in-out;
    color: var(--primary-color1);
}

.footer-link {
    font-size: clamp(1rem, 2vw, 1.5rem);
    gap: 0.25em;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 0.5s ease-in-out;
    color: var(--text-opaque);
}

.footer-linkArrow {
    rotate: -45deg;
    transition:
        rotate 0.25s ease-in-out,
        color 0.5s ease-in-out;
    color: var(--primary-color1);
}

.footer-link:hover {
    color: var(--primary-color1);
    transition: color 0.25s ease-in-out;
}

.footer-link:hover .footer-linkArrow {
    transition: rotate 0.25s ease-in-out;
    rotate: 0deg;
}

.footer-name {
    font-size: var(--footer-name-size);
    position: absolute;
    left: 50%;
    bottom: 0;
    text-wrap: nowrap;
    color: transparent;
    background: linear-gradient(90deg, var(--primary-color1), var(--primary-color2));
    background-clip: text;
    z-index: -1;
    line-height: 0.8;
}
