[data-color-scheme='orange'] {
    --scheme-primary-color1: rgba(253, 111, 0, 1);
    --scheme-primary-color2: rgba(226, 55, 47, 1);
    --scheme-primary-color1-opaque_75: rgba(253, 111, 0, 0.75);
    --scheme-primary-color2-opaque_75: rgba(226, 55, 47, 0.75);
    --scheme-primary-color1-opaque_50: rgba(253, 111, 0, 0.5);
    --scheme-primary-color2-opaque_50: rgba(226, 55, 47, 0.5);
    --background-color-offset-light: rgb(247, 174, 119);
}

[data-color-scheme='purple'] {
    --scheme-primary-color1: rgba(219, 48, 105, 1);
    --scheme-primary-color2: rgba(138, 79, 255, 1);
    --scheme-primary-color1-opaque_75: rgba(219, 48, 105, 0.75);
    --scheme-primary-color2-opaque_75: rgba(138, 79, 255, 0.75);
    --scheme-primary-color1-opaque_50: rgba(219, 48, 105, 0.5);
    --scheme-primary-color2-opaque_50: rgba(138, 79, 255, 0.5);
    --background-color-offset-light: rgba(228, 98, 141, 1);
}

[data-color-scheme='blue'] {
    --scheme-primary-color1: rgba(128, 255, 232, 1);
    --scheme-primary-color2: rgba(0, 161, 228, 1);
    --scheme-primary-color1-opaque_75: rgba(128, 255, 232, 0.75);
    --scheme-primary-color2-opaque_75: rgba(0, 161, 228, 0.75);
    --scheme-primary-color1-opaque_50: rgba(128, 255, 232, 0.5);
    --scheme-primary-color2-opaque_50: rgba(0, 161, 228, 0.5);
    --background-color-offset-light: rgba(194, 255, 244, 1);
}

[data-color-scheme='green'] {
    --scheme-primary-color1: rgba(50, 232, 117, 1);
    --scheme-primary-color2: rgba(246, 174, 45, 1);
    --scheme-primary-color1-opaque_75: rgba(50, 232, 117, 0.75);
    --scheme-primary-color2-opaque_75: rgba(246, 174, 45, 0.75);
    --scheme-primary-color1-opaque_50: rgba(50, 232, 117, 0.5);
    --scheme-primary-color2-opaque_50: rgba(246, 174, 45, 0.5);
    --background-color-offset-light: rgba(145, 243, 181, 1);
}

[data-color-scheme='redblue'] {
    --scheme-primary-color1: rgba(214, 40, 40, 1);
    --scheme-primary-color2: rgba(18, 21, 248, 1);
    --scheme-primary-color1-opaque_75: rgba(214, 40, 40, 0.75);
    --scheme-primary-color2-opaque_75: rgba(18, 21, 248, 0.75);
    --scheme-primary-color1-opaque_50: rgba(214, 40, 40, 0.5);
    --scheme-primary-color2-opaque_50: rgba(18, 21, 248, 0.5);
    --background-color-offset-light: rgba(227, 100, 100, 1);
}

:root {
    --glass-thick: rgba(244, 249, 255, 0.25);
    --glass-dark: rgba(19, 26, 33, 0.75);
    --glass-shadow: inset 1px 2px 4px rgba(240, 248, 255, 0.1);
    --glass-shadow-inset: inset 1px 2px 4px rgba(250, 250, 250, 0.65);
    --glass-shadow-inset-hover: inset 1px 2px 4px rgba(250, 250, 250, 1);
    --max-content-width: 1366px;
    --progress-bar-height: 5px;

    --primary-color1: var(--scheme-primary-color1);
    --primary-color1-opaque: var(--scheme-primary-color1-opaque_50);
    --primary-color2: var(--scheme-primary-color2);
    --primary-color2-opaque: var(--scheme-primary-color2-opaque_50);

    font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: var(--text-color);
    background-color: var(--background-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition:
        background-color 0.5s ease-in-out,
        color 0.5s ease-in-out;
    cursor: none;

    --hero-grayscale: grayscale(0.75);
    --background-color: rgba(24, 24, 24, 1);
    --background-color-light: rgb(53 53 53);
    --background-color-opaque: rgba(24, 24, 24, 0.75);
    --background-color-offset: rgb(43 43 43);
    --text-color: rgba(255, 255, 255, 0.87);
    --text-opaque: rgba(255, 255, 255, 0.435);
    --glass: rgba(240, 248, 255, 0.05);
    --nav-icon-color: var(--scheme-primary-color1-opaque_75);
    --nav-icon-color-hover: var(--scheme-primary-color1);
}

[data-theme='light'] {
    --primary-color1: var(--scheme-primary-color2);
    --primary-color1-opaque: var(--scheme-primary-color2-opaque_50);
    --primary-color2: var(--scheme-primary-color1);
    --primary-color2-opaque: var(--scheme-primary-color1-opaque_50);
    --nav-icon-color: var(--scheme-primary-color2-opaque_75);
    --nav-icon-color-hover: var(--scheme-primary-color2);
    --hero-grayscale: grayscale(0);
    --background-color: rgb(250, 250, 250);
    --background-color-light: rgb(230, 230, 230);
    --background-color-opaque: rgba(250, 250, 250, 0.87);
    --background-color-offset: var(--background-color-offset-light);
    --text-color: rgba(24, 24, 24, 1);
    --text-opaque: rgba(24, 24, 24, 0.5);
    --glass: rgba(44, 48, 53, 0.05);
}

* {
    cursor: none;
}

body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    max-width: 100vw;
}

.no-scroll {
    overflow-y: hidden;
}

body {
    display: flex;
    place-items: center;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
}

section {
    max-width: 100vw;
}

h1 {
    font-size: clamp(2.5rem, 7.5vw, 4.5rem);
    line-height: 1;
    overflow: visible;
    letter-spacing: 0.05em;
    word-spacing: 0.0125em;
}

h2 {
    font-size: clamp(1.75rem, 11.5vw, 4rem);
    letter-spacing: 0.025em;
    word-spacing: 0.025em;
}

h3 {
    font-size: clamp(1.25rem, 11.5vw, 2.5rem);
    line-height: 1;
}

p {
    font-size: clamp(0.75rem, 4.5vw, 1.25rem);
    letter-spacing: 0.075em;
    word-spacing: 0.075em;
    line-height: 1.5;
    text-wrap: balance;
    font-weight: 600;
}
